.avatar-primary .avatar-initials {
  color: #fff;
  background-color: #71869d;
}

.avatar-primary .avatar-icon {
  color: #fff;
  background-color: #71869d;
}

.avatar-secondary .avatar-initials {
  color: #f9fafc;
  background-color: rgba(249, 250, 252, 0.1);
}

.avatar-secondary .avatar-icon {
  color: #f9fafc;
  background-color: rgba(249, 250, 252, 0.1);
}

.avatar {
  position: relative;
  display: inline-block;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 0.3125rem;
}

.avatar-initials {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.09375rem;
  font-weight: 600;
  pointer-events: none;
  text-transform: uppercase;
  border-radius: 0.3125rem;
}

.avatar-icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.09375rem;
  font-weight: 600;
  pointer-events: none;
  text-transform: uppercase;
  border-radius: 0.3125rem;
}

.avatar-centered {
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.avatar-square {
  border-radius: 10%;
}
