.navbar {
  background-color: white;
}

.navbar-brand {
  padding: 0px; /* firefox bug fix */
}

.navbar-brand > img {
  height: $header-height;
  width: 250px;
  padding: 15px; /* firefox bug fix */
}

.form-center {
  position: absolute !important;
  left: 25%;
  right: 25%;
}

.sidenav {
  position: absolute;
  height: 100%;
  width: $menu-width; /* Set the width of the sidebar */
  background-color: #222; /* Black */
  overflow: hidden; /* Disable scroll */
  padding-top: 10px;
  margin-bottom: -101%; /* Fixes height always 100% */
  padding-bottom: 101%;
}

.nav-item {
  height: 70px;
  width: $menu-width; /* width must be same size as NavBar to center */
  text-align: center; /* Aligns <a> inside of NavIcon div */
  margin-bottom: 0; /* Puts space between NavItems */
  a {
    font-size: 2.7em;
    color: white;

    :hover {
      opacity: 0.7;
      text-decoration: none; /* Gets rid of underlining of icons */
    }
  }
}

.nav-item .active {
  background-color: pink;
}

