.loader-spinner {
  @include loader($size: 56px, $border-size: 4px, $align: middle);
}

.loader-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.loader-item {
  width: 280px;
  height: 280px;
  margin: 20px;
  background: lighten($primary-color, 52%);
  border-radius: 3px;
  position: relative;
}
